.headerBanner {
	display: flex;
	max-height: 100vh;
	padding-top: 20px;
	box-sizing: border-box;
	z-index: 0;
	position: relative;

	.headerBanner__right {
		max-width: 50%;
		margin-left: 0px;
		position: relative;

		.headerBanner__image {
			position: absolute;
			right: 30px;
			bottom: 20px;
			top: 10px;
			object-fit: contain;
			z-index: 0;
		}
		.headerBanner__elipse {
			vertical-align: middle;
			text-align: center;
			left: 10%;
			position: relative;
			margin-top: 40px;
			width: 89%;
		}
	}

	.headerBanner__left {
		display: flex;
		flex-direction: column;
		max-width: 50%;
		padding-left: 185px;
		padding-top: 100px;
		margin-right: 0px;

		h1 {
			font-weight: 700;
			font-size: 48px;
			line-height: 60px;
			font-family: "Inter", sans-serif;
		}
		p {
			font-family: "Inter", sans-serif;
			font-weight: 400;
			font-size: 18px;
			line-height: 31px;
			color: #494949;
		}
	}
}

@media (max-width: 600px) {
	.headerBanner{
		display: flex;
		flex-direction: column;
	}
	
}
